/* footer */
.footer_logo_area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.border_footer {
    border-bottom: 3px solid #b2b2b2;
    flex-grow: 1;
}

.logo_footer {
    max-width: 180px;
    width: 160px;
    padding-bottom: 10px;
    object-fit: cover;
}

.footer_link_area{
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    margin-top: -18px;
    margin-bottom: 6px;
}

.footer_links{
    display: flex;
    gap: 7px;
    font-size: 18px;
    font-weight: bold;
}

.footer_name{
    background-color: #dc143c;
    color: #fff;
    padding: 6px;
    font-size: 14px;
    text-align: center;
}
