/*
 * レスポンシブ
 * 1280px～ PC (default)
 * 960px～1279px 中型ディスプレイ
 * 600px～959px タブレット
 * 480px～599px 小型タブレット
 * 0px～479px スマートフォン
 * */

/* footer */
.footer_logo_area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

.border_footer {
    border-bottom: 3px solid #b2b2b2;
    flex-grow: 1;
}

.logo_footer {
    max-width: 180px;
    width: 160px;
    padding-bottom: 10px;
    object-fit: cover;
}

.footer_link_area{
    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;
    margin-top: -18px;
    margin-bottom: 6px;
}

.footer_links{
    display: flex;
    gap: 7px;
    font-size: 18px;
    font-weight: bold;
}

.footer_name{
    background-color: #dc143c;
    color: #fff;
    padding: 6px;
    font-size: 14px;
    text-align: center;
}

/* 960px～1279px 中型ディスプレイ
------------------------------ */
@media screen and (min-width: 960px) and (max-width: 1279px) {
    .footer_links{
        font-size: 16px;
	gap: 6px;
    }

}

/* 600px〜959px：タブレット
------------------------------ */
@media screen and (min-width: 600px) and (max-width: 959px) {
    .footer_links{
        font-size: 16px;
        gap: 6px;
    }
}

/* 480px～599px 小型タブレット
------------------------------ */
@media screen and (min-width: 480px) and (max-width: 599px) {
    .footer_links{
        font-size: 12px;
        gap: 6px;
    }
    .footer_name{
       font-size: 10px;
   }
   .logo_footer{
      max-width: 110px;
   }
}

/* 0px～479px スマートフォン
------------------------------ */
@media screen and (max-width: 479px) {
    .footer_links{
        font-size: 12px;
        gap: 6px;
    }
    .footer_name{
       font-size: 10px;
   }
   .logo_footer{
      max-width: 110px;
   }
}
